<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Put Bernie Anywhere!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        font-size: 100%;
      }
      h1 {
        font-size: 1.5rem;
      }
      p, input {
        font-size: 1.2rem;
      }
    </style>
    <script src="/static/bernie.js"></script>
</head>
<body>
    <title>
        Put Bernie Anywhere In The World!
    </title>
    <h1> Enter an address or location and bernie will appear there. </h1>
    <form id="form" action="/api" method="post">
        <p>
            <label for="address/location">Address/Location</label>
            <input id='location-input' type="text" name="address/location">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <img hidden id='bernie-src' src='static/bernie.png'/>
    <img hidden id='location-img'/>
    <p><button hidden id='download'>Download Bernie</button></p>
    <canvas id='canvas'></canvas>
    <p> <i>a site by Nick Sawhney <a href="https://twitter.com/nick_sawhney" target="_blank">@nick_sawhney</a></i> <p>
</body>
</html>
